<div
	class="card mb-4"
	[class.pinned]="note.is_pinned"
	(click)="edit()"
	style="cursor: pointer"
>
	<div class="card-body">
		<h5 class="card-title">
			{{ note.title ? (note.title | truncate: 45) : 'Untitled' }}
		</h5>
		<p class="card-text">
			{{ note.body ? (note.body | truncate: 80) : '' }}
		</p>
		<ul class="card-info list-inline">
			<li class="list-inline-item">
				Modified : {{ note.updated_at | date: 'short' }}
			</li>
		</ul>
	</div>
	<div class="card-footer">
		<button
			type="button"
			class="btn card-action pin-action"
			(click)="emitPin($event)"
		>
			<fa-icon [icon]="faThumbtack"></fa-icon>
		</button>
		<a
			routerLink="/home/notes/{{ note.id }}"
			class="card-action"
			title="Edit note"
			#editLink
		>
			<fa-icon [icon]="faPen"></fa-icon>
		</a>
		<button
			type="button"
			class="btn card-action text-danger"
			title="Delete note"
			(click)="emitDelete($event)"
		>
			<fa-icon [icon]="faTrash"></fa-icon>
		</button>
	</div>
</div>
