<div class="sidebar-menu">
	<a
		href="#"
		class="nav-link sidebar-menu-title"
		(click)="collapse.toggle()"
		[attr.aria-expanded]="!isCollapsed"
	>
		<h5>School</h5>
		<div class="sidebar-menu-icon">
			<fa-icon [icon]="faChevronRight"></fa-icon>
		</div>
	</a>
	<ul
		class="sidebar-menu-items"
		#collapse="ngbCollapse"
		[(ngbCollapse)]="isCollapsed"
	>
		<li class="sidebar-menu-item"><a href="#">My first note</a></li>
		<li class="sidebar-menu-item"><a href="#">My second note</a></li>
		<li class="sidebar-menu-item"><a href="#">My third note</a></li>
	</ul>
</div>
