<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="col-md-3">
		<a class="navbar-brand logo" routerLink="/home">Notebook</a>
	</div>
	<div class="col-md-9">
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav col-md-12 px-0">
				<li class="nav-item">
					<a class="nav-link" (click)="toggle()"
						><fa-icon [icon]="faBars"></fa-icon
					></a>
				</li>
				<li class="nav-item user-dropdown" ngbDropdown>
					<a
						class="nav-link"
						tabindex="0"
						ngbDropdownToggle
						id="userDropdown"
						role="button"
					>
						Hi, {{ user.name }}
						<div class="avatar" style="background-image: url('{{ user.avatar }}');"></div>
					</a>
					<div
						ngbDropdownMenu
						aria-labelledby="userDropdown"
						class="dropdown-menu dropdown-menu-right"
					>
						<a
							ngbDropdownItem
							routerLink="/home/profile"
							(click)="$event.preventDefault()"
						>
							My Profile
						</a>
						<a ngbDropdownItem href="#" (click)="logout($event)">
							Logout
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
