<ng-container *ngIf="note">
	<div class="row note-actions justify-content-end">
		<div class="col-md-auto note-action text-danger" (click)="deleteNote()">
			<fa-icon [icon]="faTrash"></fa-icon>
		</div>
		<div class="col-md-auto note-action" (click)="updateNote()">
			<fa-icon [icon]="faSave"></fa-icon>
		</div>
	</div>

	<div class="row edit-note no-gutters">
		<div class="col-md-12">
			<div class="row note-tags">
				<ng-container *ngIf="note.tags.length">
					<div
						class="note-tag col-md-auto"
						*ngFor="let tag of note.tags"
					>
						<span class="tag-icon">
							<fa-icon [icon]="faTag"></fa-icon>
						</span>
						{{ tag.title }}

						<span class="remove-tag" (click)="removeTag(tag.id)">
							<fa-icon [icon]="faTimes"></fa-icon>
						</span>
					</div>
				</ng-container>
				<div class="add-tag col-md-auto flex-grow-1">
					<input
						type="text"
						id="addTag"
						class="form-control"
						placeholder="Add a tag"
						[(ngModel)]="tagTitle"
						(keyup.enter)="addTag()"
					/>
				</div>
			</div>
		</div>
		<div class="col-md-12 mb-3">
			<input
				type="text"
				name="title"
				[(ngModel)]="note.title"
				placeholder="Enter title here"
			/>
		</div>

		<div class="col-md-12">
			<editor
				style="outline: none !important"
				[init]="{
					menubar: false,
					inline: true,
					plugins: [
						'autolink',
						'codesample',
						'link',
						'lists',
						'media',
						'table',
						'image',
						'quickbars',
						'codesample',
						'help'
					],
					toolbar: false,
					quickbars_insert_toolbar:
						'quicktable image media codesample checklist',
					quickbars_selection_toolbar:
						'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | forecolor backcolor | emoticons | fullscreen | image media link',
					contextmenu:
						'undo redo | inserttable | cell row column deletetable | help',
					font_formats:
						'Poppins=\'Poppins\', sans-serif;Roboto=\'Roboto\', sans-serif;Andale Mono=andale mono,times; Arial=arial,helvetica,sans-serif; Arial Black=arial black,avant garde; Book Antiqua=book antiqua,palatino; Comic Sans MS=comic sans ms,sans-serif; Courier New=courier new,courier; Georgia=georgia,palatino; Helvetica=helvetica; Impact=impact,chicago; Symbol=symbol; Tahoma=tahoma,arial,helvetica,sans-serif; Terminal=terminal,monaco; Times New Roman=times new roman,times; Trebuchet MS=trebuchet ms,geneva; Verdana=verdana,geneva; Webdings=webdings; Wingdings=wingdings,zapf dingbats',
					placeholder: 'Type something here ...'
				}"
				[(ngModel)]="note.body"
				name="body"
			>
			</editor>
		</div>
	</div>

	<app-feedback-alert
		[alert]="alert"
		(closed)="closed($event)"
	></app-feedback-alert>
</ng-container>
