.logo {
	text-transform: uppercase;
	font-family: $heading-font;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 1.25rem;
}

.main-panel {
	flex-grow: 1;
	max-width: 100%;
}

.loading {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #fff;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;

	.loading-text {
		margin-top: 50px;
		font-size: 1.25rem;
	}
}

.content-wrapper {
	position: relative;
	height: calc(100vh - 70px);
	overflow-y: auto;

	#add-note {
		position: fixed;
		bottom: 50px;
		right: 70px;
		width: 60px;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		background: $primary;
		color: #fff;
		font-size: 0.75rem;
		@include transition(0.3s);

		&:hover {
			@include transform(rotate(180deg));
		}
	}
}

.mce-content-body {
	outline: none !important;
	height: calc(100vh - 200px);
}

.edit-note-form {
	padding: 25px 50px;
	input[name='title'] {
		width: 100%;
		border: none;
		font-size: 1.5rem;
	}

	.note-tag {
		min-width: 90px;
		text-align: center;
		display: inline-block;
		padding: 7px 15px;
		border-radius: 25px;
		border: 1px solid #eee;
		font-size: 0.875rem;
		position: relative;
		color: $text-secondary;

		.tag-icon {
			margin-right: 8px;
			font-size: 0.75rem;
		}

		&:hover {
			.remove-tag {
				opacity: 1;
				background-color: rgba(0, 0, 0, 0.05);
			}
		}

		.remove-tag {
			cursor: pointer;
			font-size: 0.625rem;
			position: absolute;
			right: 5px;
			top: -25%;
			display: flex;
			height: 20px;
			width: 20px;
			border: 1px solid #eee;
			border-radius: 100%;
			align-items: center;
			justify-content: center;
			opacity: 0;
			@include transition(0.2s);
		}
	}
}

.note-actions {
	padding: 15px;
	.note-action {
		cursor: pointer;
		color: $text-secondary;
		font-size: 1rem;
		display: inline-flex;
		height: 40px;
		width: 40px;
		border-radius: 100%;
		align-items: center;
		justify-content: center;
		@include transition(0.3s);
		&:hover {
			background: rgba(0, 0, 0, 0.05);
		}
	}
}

.feedback-alert {
	position: fixed;
	bottom: 50px;
	right: 70px;
	z-index: 999;
	width: 300px;
}
